# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# Prisma
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/postgres
TEST_DATABASE_URL=postgresql://postgres:postgres@localhost:5432/react_router_saas_test

# Supabase
VITE_SUPABASE_URL=https://abcdefghijklmnopqrst.supabase.co
VITE_SUPABASE_PUBLISHABLE_KEY=sb_publishable_mock-key
SUPABASE_SECRET_KEY=sb_secret_mock-key

# App
APP_URL=http://localhost:3000
COOKIE_SECRET=a-sufficiently-long-secret-ideally-32-characters-or-more
HONEYPOT_SECRET=a-separate-long-secret-ideally-32-characters-or-more
RESEND_API_KEY=re_blAh_blaHBlaHblahBLAhBlAh
RESEND_FROM_EMAIL=React Router SaaS <hello@example.com>

# Supabase Storage via S3 compatible API
STORAGE_ENDPOINT=https://abcdefghijklmnopqrst.storage.supabase.co/storage/v1/s3
STORAGE_ACCESS_KEY_ID=ey_mock-access-key
STORAGE_SECRET_ACCESS_KEY=ey_mock-secret-key
STORAGE_REGION=us-east-1

# Stripe
STRIPE_SECRET_KEY=sk_test_<SECRET_KEY>
STRIPE_WEBHOOK_SECRET=whsec_<WEBHOOK_SECRET>

# Search indexing
ALLOW_INDEXING=false
