.DS_Store
/node_modules/
todo.md

# React Router
/.react-router/
/build/

*.env

# TypeScript
*.tsbuildinfo

# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/

# Random
count-lines.sh
stripe-events.txt

# Test fixtures
/tests/fixtures/
/app/tests/mocks/fixtures/

# Prisma
/app/generated/

# Personal Implementation Docs (to track my thoughts)
docs/

# Removed for I changed to my local postgres password
.env.example
